*{
    margin:0px;
    padding:0px;
    box-sizing:border-box
}
body{
    background-color: #223133;
}
.bg{
    background-color:rgb(85, 175, 189,0.8);
    height:100vh;
    width:100%;
    clip-path:polygon(0% 0%,100% 50%,  0% 100%);
    
}
.calci{
    height:90vh;
    width:28%;
    margin: 20px 35% 20px 35%;
    top:20px;
    bottom:20px; 
    background-color: rgb(245,245,245);
    position:absolute;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px rgb(85, 175, 189);
}
#result{
    height:30%;
    text-align: right;
    font-size: xx-large;
    padding:20px;
    margin:8px;
    
}
#history{
    margin-top:20px;
    font-weight: lighter;
    color:#808080;
    vertical-align: bottom;
    padding:5px;
    height:50px;
    border-color:1px solid red;
}
#output{
    height:500px;
    border-color:1px solid red;
    font-weight: bold;
    font-size: 125%;
    margin:5px;
    padding:5px;
}

#keyboard{
    margin:5px 40px 5px 50px;
    display:flex;
    flex-wrap: wrap;
    font-weight: bold;
   
}
button{
    border:none;
    background-color:rgb(245,245,245);
    height:50px;
    width:50px;
    margin:10px;
    padding:10px;
    border-radius: 50%;
    font-size: larger;
}
.numbers, .operators{
    cursor:pointer;
}
#clear, #backspace{
    background-color: lightgray;
}


.operators:active, .numbers:active,#clear:active , #backspace:active{
    background-color: lightslategrey;
}   
.operators:focus, .numbers:focus{
    outline: none;
}
button:nth-child(3){
    background-color:#c2f542;
}
button:nth-child(4){
    font-size: x-large;
    background-color: mediumorchid;
}
button:nth-child(8){
    font-size: x-large;
    background-color: cyan;
}
button:nth-child(12){
    font-size: x-large;
    background-color: orange;
}
button:nth-child(16){
    font-size: x-large;
    background-color: pink;
}
button:nth-child(18){
    background-color: lightgray;
}
   
button:nth-child(20){
    font-size: x-large;
    background-color:lightgreen;
}